html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: "Itim", serif;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    text-align: justify;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    font-weight: bold;
    color: brown;
    background-color: aqua;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
}

#header {
    background-image: url("./assets/logo\ fashion.jpg");
}

@media (max-width:768px) {
    .container {
        width: 90%;
    }

    .header {
        padding: 15px;
    }
}

@media (max-width:480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .header {
        font-size: 18px;
        padding: 10px;
    }
}

.shadow-text {
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

h1 {
    font-size: 30px;
    font-weight: border;
    font-style: initial;
    text-align: center;
    color: black;
}

h1 {
    animation-duration: 5s;
    animation-name: appeartingfromtheright;
}

@keyframes appeartingfromtheright {
    from {
        margin-left: 100%;
        font-size: 36px;
    }

    75% {
        margin-left: 80%;
        font-size: 36px;
        color: yellowgreen;
    }

    50% {
        margin-left: 40%;
        font-size: 36px;
        color: darkgray;
    }

    to {
        margin-left: 0;
        font-size: 36px;
    }
}

.navbar {
    min-width: 80vh;
    padding: 10px;
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    background-color: palevioletred;
    cursor: pointer;
    transition-property: backgroud-colour;
    transition-duration: 5s;
}

.navbar:hover {
    background-color: silver;
}

nav {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    gap: 16px;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-right: 30px;
    font-weight: bold;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}

.detail {
    margin-left: 3%;
    margin-top: 5%;
}

.detail h2 {
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-style: initial;
    margin-bottom: 30px;
}

span {
    color: orange;
}

.detail p {
    color: black;
    line-height: 22px;
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
}

h2 {
    animation-duration: 3s;
    animation-name: aboutfashion;
}

@keyframes aboutfashion {
    from {
        margin-top: 100%;
        font-size: 36px;
    }

    to {
        margin-top: 0;
        font-size: 24px;
    }
}

.image-container {
    margin-left: 3%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container h3 {
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-style: initial;
    margin-bottom: 30px;
}

.image {
    display: inline-block;
    text-align: center;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s;
    z-index: 1;
}

.image-container1 {
    display: inline-block;
    text-align: left;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s;
    z-index: 1;
}

.image-container1:hover .image {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    z-index: 2;
}

.image-container2 {
    display: inline-block;
    text-align:center;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s;
    z-index: 1;
}

.image-container2:hover .image {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    z-index: 2;
}

.image-container3 {
    display: inline-block;
    text-align:right;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s;
    z-index: 1;
}

.image-container3:hover .image {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    z-index: 2;
}

.image-container4 {
    display: inline-block;
    text-align: right;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s;
    z-index: 1;
    padding-left: 250px;
}

.image-container4:hover .image {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    z-index: 2;
}

.image-container5 {
    display: inline-block;
    text-align:right;
    width: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s;
    z-index: 1;
    padding-left: 500px;
}

.image-container5:hover .image {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    z-index: 2;
}

footer {
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: palevioletred;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-top: 10px;
}

nav {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    gap: 16px;
}

nav ul li {
    display: inline;
    list-style: none;
    margin-right: 30px;
    font-weight: bold;
}

nav ul li a {
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}